<div class="details-div">
  <a id="<%= @product.id %>">hide details</a>
  <p><%= @product.description %></p>
  <img src="<%= @product.image %>">
  <p><%= number_to_currency @product.price %></p>
  <% if admin %>
    <%= link_to 'Edit product', edit_product_path(@product) %> | <%= link_to 'Delete product', product_path(@product), 
      :data => {:confirm => 'Would you like to delete this product?',
      :method => 'delete'} %>
  <% end %>
</div>
